.login {
  margin-top: 10px;
  gap: 10px;
  flex-direction: column;
}
.loginWrapper {
  border: 1px solid rgb(202, 202, 202);
  padding: 40px 40px;
  flex-direction: column;
  width: 352px;
}

/* this is form css */

.loginWrapper form {
  margin-top: 30px;
  max-width: 100%;
  min-width: 255px;
  flex-direction: column;
  gap: 7px;
}

.loginWrapper form input,
button {
  width: 100%;
}

.loginWrapper form input {
  background-color: rgb(250, 250, 250);
  padding: 10px 10px;
  outline: none;
  border: 1px solid rgb(202, 202, 202);
  border-radius: 2px;
}

.loginWrapper form input::placeholder {
  font-size: 11px;
  color: rgb(126, 124, 124);
}

.loginWrapper form button a {
  outline: none;
  background-color: rgb(73, 189, 235);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: 700;
  font-size: 13px;
  padding: 8px 0;
  margin-top: 5px;
}

/* this is devider css */

.devider {
  width: 100%;
  margin-top: 20px;
}
.devider .devidebar {
  flex-grow: 1;
  width: 100%;
  height: 1px;
  background-color: rgb(202, 202, 202);
}

.devider span {
  color: rgb(129, 129, 129);
  padding: 0 20px;
  font-size: 12px;
  font-weight: 600;
}

/* this is optionLogin css */

.optionLogin {
  width: 100%;
  flex-direction: column;
  gap: 16px;
  margin-top: 30px;
}

.optionLogin .facebookOption {
  color: #385185;
  gap: 6px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  width: 100%;
}
.facebookIcon {
  color: rgb(51, 51, 146);
  font-size: 22px;
}

.optionLogin a {
  text-decoration: none;
  font-size: 13px;
  cursor: pointer;
  color: rgb(0, 55, 107);
}

/* this is lower part css */

.lowerPart {
  border: 1px solid rgb(202, 202, 202);
  padding: 21px 40px;
  flex-direction: column;
  width: 352px;
  margin-bottom: 15px;
}

.lowerPart .text {
  color: black;
  font-size: 14px;
  font-family: Segoe UI, Roboto, Helvetica, Arial, sans-serif;
}

.lowerPart #signup a {
  font-weight: 600;
  color: rgb(7, 153, 250);
  cursor: pointer;
}
.TextWrapper .text {
  color: rgb(115, 115, 115);
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 0;
}
.TextWrapper button {
  border: none;
  outline: none;
  padding: 7px 16px;
  border-radius: 8px;
  background-color: #0095f6;
  color: white;
}
.TextWrapper .facebookIcon {
  color: white;
}
.TextWrapper .flex {
  gap: 8px;
}
.wrapper {
  text-align: center;
  flex-direction: column;
  color: rgb(115, 115, 115);
  font-size: 12px;
  gap: 10px;
}
