.insta_logo_black {
  background-image: url("https://static.cdninstagram.com/rsrc.php/v3/yv/r/KoLLpWDb4f6.png");
  background-position: 0px -52px;
  background-size: auto;
  width: 175px;
  height: 51px;
  background-repeat: no-repeat;
  display: inline-block;
}
